.site-footer {
    // background-color: $dark-secondary;
}
.site-footer__logo {
    max-width: 260px;
    margin: 0 auto;
}

.social-icon-link {
    display: inline-block;
    font-size: 2rem;
    margin: 0 10px;
    line-height: 1;
    &:hover {
        text-decoration: none;
    }
}

@include media-breakpoint-up(lg) {
    .site-footer__logo {
        margin: 0;
    }
}